 /* CHI SONO */
 #biograpy {
   height: 90vh;
   padding-top: 70px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   transition: 0.8s;
   filter: brightness(0.9);
   position: relative;
   color: white;
 }

 #biograpy::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 1;
   background-color: rgba(0, 0, 0, 0.11);
 }

 /* .z-i {
    z-index: 10000;
  } */

 #biograpy p {
   text-align: justify;
   font-size: 20px;
 }

 .btn-bio {
   border: 1px solid white;
   border-radius: 5px;
   padding: 10px 15px;
   display: inline-block;
   font-weight: bolder;
 }

 .btn-bio:hover {
   border-color: rgb(184, 184, 203);
   transform: scale(0.9);
   transition: 0.1s;
 }