/* COMPETENZE */
#competenze {
    height: 100vh;
    padding: 50px 0;
  }

  .dark-competenze {
    background: radial-gradient(#594c66, #000000);
    color: white;
  }

  .light-competenze {
    background: radial-gradient(#eff0ff91, #eaebfc);
    color: black;
  }

  p {
    text-align: justify;
  }

  .fs {
    font-size: 15px;
  }

  .icon-code {
    transition: 0.5s;
    cursor: pointer;
  }

  .icon-code:hover {
    transform: scale(1.5);
  }