/* COMPETENZE */
#competenze {
  height: 100vh;
  padding: 50px 0;
  position: relative;
  z-index: 1;
  color: white;
  background-color: #16181D;
  /* background-color: #171923; */
}

p {
  text-align: justify;
}

.fs {
  font-size: 15px;
}

.icon-code {
  transition: 0.5s;
  cursor: pointer;
}

.icon-code:hover {
  transform: scale(1.5);
}