footer {
    background-color: #232730;
    color: white;
    height: 150px;
  }

  .light-footer {
    background-color: #eaebfc;
    color: black;
  }

  .light-footer i {
    color: black;
  }

  footer span {
    font-size: 13px;
  }
