/* JUMBOTRON */
#jumbotron {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    padding-top: 200px;
    height: 100vh;
  }
  
  #jumbotron::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.833)
  }
  
  .title-jumbotron{
    font-size: 4rem;
  }
  
  .z-i {
    z-index: 1;
  }
  
  .follow-div{
    margin-top: 200px;
  }

  .arrow-icon {
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
  }
  
  .bounce {
    animation-name: bounce;
    animation-timing-function: ease;
  }
  
  @keyframes bounce {
    0% {
      transform: scale(1, 1) translateY(0);
    }
    50% {
      transform: scale(0.9, 1.1) translateY(-20px);
    }
    100% {
      transform: scale(1, 1) translateY(0);
    }
  }