/* light-mode header */
#navbarNav {
  margin-right: 125px !important;
}

.light-header {
  background-color: rgb(238, 238, 255) !important;
  box-shadow: 0 0 15px -10px black;
}

.light-header a {
  color: black !important;
}

/* select dark light */
#checkbox {
  cursor: pointer;
  margin-left: 20px;
}
S
.text-dark {
  color: black;
}

/* header */
nav {
  transition: 0.1s linear;
}

.active-nav {
  background-color: #232730;
  transition: 0.1s linear;
}

.active-nav a {
  color: white;
}

.font-size {
  font-size: 15px;
}

.a-nav {
  font-size: smaller;
  color: white;
}

.a-nav:hover {
 border-bottom: 2px solid gray;
}

.nav-link:focus,
.nav-link:hover {
  color: grey;
}

.a-nav-current{
  border-bottom: 2px solid gray;
  color: grey;
}

#navbarNav {
  margin-right: 250px;
}

.text-a,
a {
  color: white;
  text-decoration: none;
}


.navbar-toggler-icon {
  filter: invert(1);
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none;
}


.navbar-toggler-icon.black-icon {
  filter: invert(0);
}