/* select dark light */
#checkbox {
  cursor: pointer;
  margin-left: 20px;
}

 .text-dark {
  color: black;
}

/* header */
nav {
  transition: 0.1s linear;
}

.active-nav {
  background-color: #232730eb;
  transition: 0.1s linear;
}

.active-nav a {
  color: white;
}

/* .font-size {
  font-size: 15px;
} */

#navbarNav .a-nav {
  font-size: 13px;
  font-weight: 700;
  color: white;
  background-color: #484b50fc;
  padding: 8px 17px;
  margin: 0 10px;
  border-radius: 20px;
  transition: 0.1s linear;
  box-shadow: 0 0 15px -10px black;
}

#navbarNav ul {
  display: flex;
  justify-content: center;
 }

#navbarNav li {
  margin: 10px 0;
}

#navbarNav .a-nav:hover {
  transform: scale(1.1);
  transition: 0.1s linear;
}

#navbarNav .nav-link:focus,
.nav-link:hover {
  color: white;
}

#navbarNav .a-nav-current {
  color: rgb(255 255 255);
  transform: scale(1.1);
  background-color: #8b8888;
}


.text-a,
a {
  color: white;
  text-decoration: none;
}


.navbar-toggler-icon {
  filter: invert(1);
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none;
}


.navbar-toggler-icon.black-icon {
  filter: invert(0);
}

#navbarNav .seguimi-btn {
  padding: 10px 15px;
  background-color: transparent;
  color: white;
  border: 2px solid #d5dc97;
  line-height: 15px;
}

