/* SEGUIMI */
.dark-seguimi {
  background: linear-gradient(to top, #14161F 50%, black 0%);
}

.card-follow {
  width: 480px;
  background-color: #171923;
  border-radius: 5px;
  border: solid 1px rgb(29, 42, 54);
  margin: 0 10px;
  color: white;
}

.card-follow p {
  font-size: small;
  margin: 0;
}

.card-follow figure {
  margin: 0;
  margin-right: 20px;
}

.logo-follow {
  border-radius: 50%;
}